.search-box{
    display:flex;
    align-items:center;
    gap:10px;
    padding:15px 30px;
}

.search-box input{
    width:100%;
    padding:12px;
    border-radius:10px;
    border:none;
    background:#111827;
    color:white;
    outline:none;
}

/* 🔴 COLOR MÁS LLAMATIVO */
.logo, h2{
    color:#ef4444;
}

button{
    background:#ef4444;
}

button:hover{
    background:#dc2626;
}

/* 🎬 INTRO MÁS PRO */
.logo-intro{
    font-size:45px;
    color:#ef4444;
    animation:zoom 1.5s, glow 1.5s infinite alternate;
}

@keyframes glow{
    from{ text-shadow:0 0 10px #ef4444;}
    to{ text-shadow:0 0 30px #ef4444;}
}
.intro{
    position:fixed;
    width:100%;
    height:100%;
    background:black;
    display:flex;
    justify-content:center;
    align-items:center;
    z-index:100;
    animation:fadeOut 2s forwards 2s;
}

.logo-intro{
    font-size:50px;
    color:#ef4444;
    animation:pop 1.5s ease;
}

@keyframes pop{
    0%{transform:scale(0.3);opacity:0;}
    60%{transform:scale(1.2);}
    100%{transform:scale(1);}
}